<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeSharp.Package.AspNetWebPage" version="1.0" targetFramework="net40" />
  <package id="EntityFramework" version="4.1.10331.0" targetFramework="net40" />
  <package id="jQuery" version="1.8.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="microsoft-web-helpers" version="1.15" targetFramework="net40" />
  <package id="Modernizr" version="1.7" targetFramework="net40" />
</packages>