@{
    ViewBag.Title = "About The Station Hair Studio: Best of Denver Colorado curly hair salon";
}

<div class="heading-stripe transparent">
	<h1>About</h1>
</div>

<div class="content">
    <div class="transLayering">
        <img class="bottom transparentX2" alt="The Station Hair Studio" src="@Url.Content("~/Content/images/groupShot.jpg")" />
        <img class="top" alt="The Station Hair Studio" src="@Url.Content("~/Content/images/groupShot.png")" />
    </div>
    <p>Here at The Station we believe in three things – happy clients, beautiful hair, and healthy skin. It is our goal to give each and every person who walks through our door a relaxed, peaceful, and positive experience. We want every client to leave feeling confident about their look and equipped with the knowledge to recreate that look at home. We built The Station from the ground up and take pride in our salon and our work. Our staff believes continuing education is imperative to stay ahead in such a competitive industry and we know regardless of how long we have been in the business there is always something new to learn. Whether you are young or old, curly or straight, long or short, bold or natural – we have the skill to take good care of you. Come see us at The Station Hair Studio – a salon where our team is a family, our clients are our friends, and what we do isn’t just a job but a passion.</p>
</div>


