@{
    ViewBag.Title = "Book an appointment at The Station Hair Studio: Best of Denver Colorado curly hair salon";
}

<div class="heading-stripe transparent">
	<h1>Bookings</h1>
</div>

<div class="content">
    <iframe width="500" height="550" src="http://bookings.wepamper.com:81/default/selstore.aspx?SAL=200000000000055"></iframe>
</div>