@{
    ViewBag.Title = "The Station Hair Studio: Best of Denver Colorado curly hair salon";
}

<div class="heading-stripe transparent">
	<h1>Portfolio</h1>
</div>

<div class="content">
COMING SOON
</div>