@using Microsoft.Web.Helpers

<div id="footer" class="transparent roundCorners">
	<ul>
        <li>&copy; @DateTime.Today.Year</li>
        <li>@Facebook.LikeButton("http://www.thestationhairstudio.com/", "standard", true, 150, 30, "like", "", "light", "")</li>
        <li>@Twitter.FollowButton("TheStationHair", "follow_me")</li>
	</ul>
</div>